<%= form_for @admin, :html => {:multipart => true} do |f| %>
	<div class="field">
    <%= f.label :subdomain, "Campaign Name (Subdomain)" %><br />
    <%= f.text_field :subdomain %>
  </div>
	<div class="field">
    <%= f.label :logo, "Scratchoff Cover Logo" %><br />
		<%= image_tag(@admin.logo_url) if @admin.logo? %>
    <%= f.file_field :logo %>
		<%= f.hidden_field :logo_cache %>
  </div>
	<div class="field">
    <%= f.label :pagetitle, "Page Title" %><br />
    <%= f.text_field :pagetitle %>
  </div>
	<div class="field">
    <%= f.label :background, "Background Image" %><br />
		<%= image_tag(@admin.background_url) if @admin.background? %>
    <%= f.file_field :background %>
		<%= f.hidden_field :background_cache %>
  </div>
	<div class="field">
    <%= f.label :bgcolor, "Background Color" %><br />
    <%= f.text_field :bgcolor %>
  </div>
	<div class="field">
    <%= f.label :fontcolor, "Font Color" %><br />
    <%= f.text_field :fontcolor %>
  </div>
	<div class="field">
    <%= f.label :linkcolor, "Link Color" %><br />
    <%= f.text_field :linkcolor %>
  </div>
  

	<div class="field">
    <%= f.label :name, "Administrator Name" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
	<div class="field">
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>
  </div>	
	

	<div class="field">
    <%= f.label :terms, "Terms and Conditions" %><br />
    <%= f.text_area :terms %>
  </div>
	<div class="field">
    <%= f.label :losemessage, "Losing Message" %><br />
    <%= f.text_area :losemessage %>
  </div>
	<div class="field">
    <%= f.label :thankyou, "Thank You Message" %><br />
    <%= f.text_area :thankyou %>
  </div>
	<div class="field">
    <%= f.label :sponsor, "Sponsor Logo" %><br />
		<%= image_tag(@admin.sponsor_url) if @admin.sponsor? %>
    <%= f.file_field :sponsor %>
		<%= f.hidden_field :sponsor_cache %>
  </div>

	<div class="field">
    <%= f.label :limit, "Required Days Between Entries" %><br />
    <%= f.number_field :limit %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
