	<% if cookies[:redeemed] || cookies[:ticket] == "-1" %>
		<!-- <aside id="attribution">
					<span>powered by <a href="http://mobilezen.com/scratchoff">mobilezen Scratchoff</a></span>
				</aside> -->
	
		<header>
			<%= raw markdown @campaign.thankyou %>
		</header>
	<% elsif cookies[:ticket].to_i >= 1 %>
	
	<% @scritchoff = Prize.find(cookies[:ticket]) %>
		
		<!-- <aside id="attribution">
					<span>powered by <a href="http://mobilezen.com/scratchoff">mobilezen Scratchoff</a></span>
				</aside> -->
		
	<header>
		
		<aside id="legal">

		<%= raw markdown @campaign.terms %>
		
		</aside>
		
		<h3>Scratch off the image below to reveal your prize!</h3>
		
	</header>
	
	<section id="scratchoff">
		<%= image_tag @campaign.logo_url.to_s, :title => @campaign.subdomain, :id => "latex" %>
		<% if @scritchoff.winmessage.include? "Sorry" %>
		<%= image_tag @campaign.loser_url.to_s, :title => "Sorry", :id => "prize" %>
		<% else %>
		<%= image_tag @scritchoff.image_url.to_s, :title => @scritchoff.name, :id => "prize" %>
		<% end %>
	</section>
	
	<section id="redemption">
		<p><%= raw @scritchoff.winmessage %></p>
		<% if @scritchoff.winmessage.include? "Sorry" %>
		<% else %>
		<p><a data-toggle="modal" data-target="#redeem_pane" class="win"> Redeem Now! </a></p>
		<% end %>
	</section>
	
	<div id="redeem_pane" class="modal hide fade in">
		<p><%= raw @scritchoff.redeemmessage %></p>
		<p class="warning">DO NOT TAP REDEEM UNTIL YOU ARE WITH A PRIZE REPRESENTATIVE!</p>
		<a class="win closemodal" data-dismiss="modal" href="#survey">Redeem</a>
		
		<p>Brought to you by:</p>
		<%= image_tag @campaign.sponsor_url.to_s, :title => @campaign.subdomain, :width => "270" %>
	</div>
	
	<script type="text/javascript" charset="utf-8">
		$('#redeem_pane').modal({
			backdrop: true,
		  keyboard: true,
			show: false
		})
		$('a.closemodal').click(function() {
		   var z = confirm('<%= @scritchoff.suremessage %>')
			 if (z == true)
				 {
					alert("Thank you for participating!")
					$.cookie('redeemed', 'true', { expires: <%= @scritchoff.expiry %> });
					$.cookie('ticket', null);
					$('a.win').remove();
					$('#redemption p:first').replaceWith('<p>Thank you for participating!</p>');
				 }
			 else
				 {
					alert("You can leave this page loaded and confirm later")
				 }
		});
	</script>

	<script type = 'text/javascript'>

		function showRedeemButton() {
			$('#redemption').delay(800).animate({opacity: 1}, 1200, function(){});
		}

		function init(event) {
			$("#latex").eraser({
			    completeRatio: .5,
			    completeFunction: showRedeemButton
			});
		}
		
		addEventListener( "load", init, false );

		function remove(event) {
			$("#latex").eraser('clear');
			event.preventDefault();
		}

		function reset(event) {
			$("#latex").eraser('reset');
			event.preventDefault();
		}

	</script>

  <script>
    var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>
		
	<% else %>
	
	<% cookies[:ticket] = { :value => @scratchoff.id, :expires => @scratchoff.expiry.days.from_now } %>
	
	<% @scratchoff.inventory -= 1 unless @scratchoff.inventory.zero? %>
	
	<!-- <aside id="attribution">
			<span>powered by <a href="http://mobilezen.com/scratchoff">mobilezen Scratchoff</a></span>
		</aside> -->
	
	<header>
		
		<aside id="legal">

		<%= raw markdown @campaign.terms %>
		
		</aside>
		
		<h3>Scratch off the image below to reveal your prize!</h3>
		
	</header>
	
	<section id="scratchoff">
		<%= image_tag @campaign.logo_url.to_s, :title => @campaign.subdomain, :id => "latex" %>
		<% if @scratchoff.winmessage.include? "Sorry" %>
		<%= image_tag @campaign.loser_url.to_s, :title => "Sorry", :id => "prize" %>
		<% else %>
		<%= image_tag @scratchoff.image_url.to_s, :title => @scratchoff.name, :id => "prize" %>
		<% end %>
	</section>
	
	<section id="redemption">
		<p><%= raw @scratchoff.winmessage %></p>
		<% if @scratchoff.winmessage.include? "Sorry" %>
			<% cookies[:redeemed] = { :value => "true", :expires => @scratchoff.expiry.days.from_now } %>
		<% else %>
		<p><a data-toggle="modal" data-target="#redeem_pane" class="win"> Redeem Now! </a></p>
		<% end %>
	</section>
	
	<div id="redeem_pane" class="modal hide fade in">
		<p><%= raw @scratchoff.redeemmessage %></p>
		<p class="warning">DO NOT TAP REDEEM UNTIL YOU ARE WITH A PRIZE REPRESENTATIVE!</p>
		<a class="win closemodal" data-dismiss="modal" href="#survey">Redeem</a>
		
		<p>Brought to you by:</p>
		<%= image_tag @campaign.sponsor_url.to_s, :title => @campaign.subdomain, :width => "270" %>
	</div>
	
	<script type="text/javascript" charset="utf-8">
		$('#redeem_pane').modal({
			backdrop: true,
		  keyboard: true,
			show: false
		})
		$('a.closemodal').click(function() {
		   var z = confirm('<%= @scratchoff.suremessage %>')
			 if (z == true)
				 {
					alert("Thank you for participating!")
					$.cookie('redeemed', 'true', { expires: <%= @scratchoff.expiry %> });
					$('a.win').remove();
					$('#redemption p:first').replaceWith('<p>Thank you for participating!</p>');
				 }
			 else
				 {
					alert("You can leave this page loaded and redeem later")
				 }
		});
	</script>

	<script type = 'text/javascript'>

		function showRedeemButton() {
			$('#redemption').delay(800).animate({opacity: 1}, 1200, function(){});
		}

		function init(event) {
			$("#latex").eraser({
			    completeRatio: .5,
			    completeFunction: showRedeemButton
			});
		}
		
		addEventListener( "load", init, false );

		function remove(event) {
			$("#latex").eraser('clear');
			event.preventDefault();
		}

		function reset(event) {
			$("#latex").eraser('reset');
			event.preventDefault();
		}

	</script>

  <script>
    var _gaq=[["_setAccount","UA-26223809-7"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>

<% end %>