<%= form_for(@prize) do |f| %>
  <% if @prize.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prize.errors.count, "error") %> prohibited this prize from being saved:</h2>

      <ul>
      <% @prize.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :odds %><br />
    <%= f.text_field :odds %>
  </div>
	<div class="field">
    <%= f.label :winmessage %><br />
    <%= f.text_area :winmessage %>
  </div>
	<div class="field">
    <%= f.label :redeemmessage %><br />
    <%= f.text_area :redeemmessage %>
  </div>
	<div class="field">
    <%= f.label :suremessage %><br />
    <%= f.text_area :suremessage %>
  </div>
  <div class="field">
    <%= f.label :inventory %><br />
    <%= f.number_field :inventory %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
