<h1>Campaign Dashboard</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Odds</th>
    <th>Amount</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prizes.each do |prize| %>
  <tr>
    <td><%= prize.name %></td>
    <td><%= prize.odds %></td>
    <td><%= prize.inventory %></td>
    <td><%= image_tag prize.image_url.to_s, :title => prize.name, :class => "thumb" %></td>
    <td><%= link_to 'Show', prize %></td>
    <td><%= link_to 'Edit', edit_prize_path(prize) %></td>
    <td><%= link_to 'Delete', prize, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<h2><%= link_to 'New Prize', new_prize_path %> | <%= link_to 'Edit Campaign', edit_admin_path(current_admin) %></h2>