<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= csrf_meta_tags %>
	<%= render 'shared/header' %>
	
	<% if @campaign %>
	<style type="text/css" media="screen">
		body {
			background: <%= @campaign.bgcolor %> url('<%= @campaign.background %>') center bottom no-repeat; 
			color: <%= @campaign.fontcolor %>;
		}
		
		a, a:visited {
			color: <%= @campaign.linkcolor %>;
		}
	</style>
	<% end %>
	
</head>
<body onload="setTimeout(function() { window.scrollTo(0, 1) }, 100);">
	
	<% flash.each do |key, value| %>
		<div class="flash <%= key %>"><%= value %></div>
	<% end %>

	<%= yield %>

</body>
</html>